<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.3.slim.js"
            integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="application/javascript" src="{{ url_for('static', filename='javascript/boardView.js') }}"></script>
    </head>

    <body>
        <table id="guessTable" class="moveTable">
            
        </table>
        {% if win %}
        <div>
            You won in {{ guess_count }} guesses!
        </div>
        {% elif lose %}
        <div>
            You lose!
        </div>
        {% else %}
        <div id = selectDiv>

        </div>
        {% endif %}

    </body>

</html>