* {
    font-size: x-large;
}

img {
    width: 50%;
}

.stats {
    margin: 20px 20px 20px 20px;
}

.text {
    margin-left: 20px;
    margin-top: 20px;
}

#message {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}